* {
    margin: 0;
    padding: 0;
}

.fix{
    overflow: hidden;
    background-color: chocolate;

}
a:hover{
    text-decoration: none;
}
a{
    text-decoration: none;
}
.movie_list_background{
    background-color: lightyellow;
}
li{
    display: inline;
}
.slide_back{
    background-color: lightblue;
}
.slide_container{
    width: 80%;
    height: 350px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
}
.slide_container>img{
    width: 100%;
    height: 100%;
    position: absolute;
}

.btn1
{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 150px;
    border: none;
    border-radius: 25px;
    background-color: yellow;
    font-size: 20px;
}

.btn2
 {
     position: relative;
    float: right;
     width: 40px;
     height: 40px;
    top: 150px;
    border: none;
    border-radius: 25px;
    background-color: yellow;
    font-size: 20px;
 }
.poster_container
{
    width: 60%;
    height: 250px;
    border: 1px solid black;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register{
    align-content: center;
}
.footer{
    background: lightgray;

}
.footer_text{
    color: green;
}
.copywrite{
    background: black;
    color: white;
    text-align: right;

}
.copywrite_text{

    float: right;
}
